# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#ide
*.cbp
*.depend
*.DS_Store
*.vscode
*.code-workspace 
__pycache__
*.ipynb
carre_siamois.xcodeproj/
carre_siamois/c/carre_siamois/carre_siamois.xcodeproj/project.pbxproj
carre_siamois/c/carre_siamois/carre_siamois.xcodeproj/project.xcworkspace/
carre_siamois/c/carre_siamois/carre_siamois.xcodeproj/xcuserdata/sidalizitouniterki.xcuserdatad/xcschemes/
carre_lozenge.xcodeproj/
carre_lozenge/C/carre_lozenge/carre_lozenge.xcodeproj/project.pbxproj
carre_lozenge/C/carre_lozenge/carre_lozenge.xcodeproj/project.xcworkspace/xcuserdata/sidalizitouniterki.xcuserdatad/UserInterfaceState.xcuserstate
build-carre_siamois-Qt_6_6_0_for_macOS-Debug/
build-carre_lozenge-Qt_6_6_0_for_macOS-Debug/
*.pro*
game
mystery
